[submodule "vim/.vim/pack/leo/start/vim-columnmove"]
	path = vim/.vim/pack/leo/start/vim-columnmove
	url = https://github.com/machakann/vim-columnmove.git
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "libstrangle"]
	path = libstrangle
	url = https://gitlab.com/torkel104/libstrangle
	branch = master
[submodule "pass-rotate"]
	path = pass-rotate
	url = https://github.com/ddevault/pass-rotate.git
[submodule "amdgpu-utils"]
	path = amdgpu-utils
	url = https://github.com/leo60228/amdgpu-utils.git
	branch = nix
[submodule "kflash.py"]
	path = kflash.py
	url = https://github.com/leo60228/kflash.py
