@font-face {
  font-family: "Hack";
  src: url("hack.ttf");
}

@font-face {
  font-family: "Hack";
  src: url("hack-bold.ttf");
  font-weight: bold;
}

#vt100 a { 
  text-decoration:  none;
  color:            inherit;
}

#vt100 a:hover { 
  text-decoration:  underline;
}

#vt100 #scrollable {
  color:          #839496;
  background-color: #002b36;
}

#vt100 #console, #vt100 #alt_console, #vt100 #cursor, #vt100 #lineheight { 
  font-family:      "Hack";
}

#vt100 #cursor {
  width: 1ch !important;
}

#vt100 #scrollable.inverted { color:            #839496;
                              background-color: #002b36; }

#vt100 .ansi0               { color:            #073642 !important; } /* base02 */
#vt100 .ansi1               { color:            #dc322f !important; } /* red */
#vt100 .ansi2               { color:            #859900 !important; } /* green */
#vt100 .ansi3               { color:            #b58900 !important; } /* yellow */
#vt100 .ansi4               { color:            #268bd2 !important; } /* blue */
#vt100 .ansi5               { color:            #d33682 !important; } /* magenta */
#vt100 .ansi6               { color:            #2aa198 !important; } /* cyan */
#vt100 .ansi7               { color:            #eee8d5 !important; } /* base2 */
#vt100 .ansi8               { color:            #002b36 !important; } /* base03 */
#vt100 .ansi9               { color:            #cb4b16 !important; } /* orange */
#vt100 .ansi10              { color:            #586e75 !important; } /* base01 */
#vt100 .ansi11              { color:            #657b83 !important; } /* base00 */
#vt100 .ansi12, .ansiDef    { color:            #839496 !important; } /* base0 */
#vt100 .ansi13              { color:            #6c71c4 !important; } /* violet */
#vt100 .ansi14              { color:            #93a1a1 !important; } /* base1 */
#vt100 .ansi15              { color:            #fdf6e3 !important; } /* base3 */

#vt100 .bgAnsi0             { background-color: #073642 !important; } /* base0 ? */
#vt100 .bgAnsi1             { background-color: #dc322f !important; } /* red */
#vt100 .bgAnsi2             { background-color: #859900 !important; } /* green */
#vt100 .bgAnsi3             { background-color: #b58900 !important; } /* yellow */
#vt100 .bgAnsi4             { background-color: #268bd2 !important; } /* blue */
#vt100 .bgAnsi5             { background-color: #d33682 !important; } /* magenta */
#vt100 .bgAnsi6             { background-color: #2aa198 !important; } /* cyan */
#vt100 .bgAnsi7             { background-color: #eee8d5 !important; } /* base2 */
#vt100 .bgAnsi8, .bgAnsiDef { background-color: #002b36 !important; } /* base03 */
#vt100 .bgAnsi9             { background-color: #cb4b16 !important; } /* orange */
#vt100 .bgAnsi10            { background-color: #586e75 !important; } /* base01 */
#vt100 .bgAnsi11            { background-color: #657b83 !important; } /* base00 */
#vt100 .bgAnsi12            { background-color: #839496 !important; } /* base0 */
#vt100 .bgAnsi13            { background-color: #6c71c4 !important; } /* violet */
#vt100 .bgAnsi14            { background-color: #93a1a1 !important; } /* base1 */
#vt100 .bgAnsi15            { background-color: #fdf6e3 !important; } /* base3 */
